@using MetroOil.LoyaltyOps.Helpers
@model MetroOil.LoyaltyOps.Models.eRoom.RoomModel
@{
    var urlPrefix = System.Configuration.ConfigurationManager.AppSettings["urlPrefix"];
}
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@urlPrefix/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Create Business Locations</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <!-- BEGIN FORM-->

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">CREATE ROOM</div>
        </div>
        <div class="portlet-body form">
            <form class="horizontal-form form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.CustomNgTextBoxFor(model => model.RoomID, null, new { })
                        </div>
                        <div class="col-md-6">
                            @Html.CustomNgTextBoxFor(model => model.RoomTypeID, null, new { })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.CustomNgTextBoxFor(model => model.RoomName, null, new { })
                        </div>
                        <div class="col-md-6">
                            @Html.CustomNgTextBoxFor(model => model.StatusID, null, new { })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            @*@Html.CustomNgCheckBoxFor(model => model.TnC, null, new { @section = "new" })*@
                            <div class="form-group">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline" >
                                        <input ng-model="_Object.IsActive" ng-checked="true" section="new" type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty" >Is Active<span></span>
                                    </label>
                                </div><span></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @*@Html.CustomNgCheckBoxFor(model => model.TnC, null, new { @section = "new" })*@
                            <div class="form-group">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input ng-model="_Object.IsDelete" section="new" type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty">Is Delete<span></span>
                                    </label>
                                </div><span></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.CustomNgTextBoxFor(model => model.Description, null, new { })
                        </div>
                    </div>

                </div>
                <div class="form-actions right">
                    @if (Html.SectionIsEnabled("MerchAcctNew"))
                    {
                        <span class=" quick-link">No merchant account yet? Click <a href="@(urlPrefix + "/Merchants#/Accounts/New")" class="link">here</a> to create one.</span>
                    }
                    <button type="button" ng-click="BackToList();" class="btn white">Cancel</button>
                    <button type="button" data-validation-form data-customsubmit="SaveInfo()" class="btn blue">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker();
        $('body').addClass('layout1menu');
    });
</script>