@using MetroOil.LoyaltyOps.Helpers
@model MetroOil.LoyaltyOps.Models.TerminalModel
@{
    var urlPrefix = System.Configuration.ConfigurationManager.AppSettings["urlPrefix"];
}
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@urlPrefix/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                @*<a href="#/Accounts/{{$root.obj.merchAcctNoHash}}">Account Summary</a>*@
                <span>Business Location Summary</span>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Terminals</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    @*<h1 class="page-title">
            All Customers
        </h1>*@
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT-->
    <!-- BEGIN FORM-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">Terminals</div>
            <div class="tools">
                <a ng-click="ShowHistory();" href="javascript:;" class="tooltips" title="View History of Change"><i class="material-icons">history</i></a>
            </div>
        </div>
        <div class="portlet-body form">
            <form id="fullApplicationForm" class="horizontal-form form">
                <div class="form-body">
                    <!-- BEGIN BASIC INFORMATION -->
                    <div class="page-bar quick-info">
                        <ul class="page-breadcrumb">
                            <li>
                                <span class="tooltips" data-original-title="Business Name">{{_GeneralInfo.BusnName}}</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Business Location No.">{{_GeneralInfo.BusnLocation}}</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Business Location Status">{{_GeneralInfo.StatusName}}</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Merchant Account No.">{{_GeneralInfo.AcctNo}}</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Last Update Date">{{_GeneralInfo.ModifiedDateStr}}</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END BASIC INFORMATION -->
                    <div class="main-content">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.CustomNgTextBoxFor(model => model.BusnLocation, null, new { @disabled = "disabled" })
                            </div>
                            <div class="col-md-6">
                                @Html.CustomNgTextBoxFor(model => model.TermId, null, new { @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.CustomNgSelectListFor(model => model.DeviceTypeCd, Model.DeviceTypeCds, null, new { @LstName = "DeviceTypeCds" })
                            </div>
                            <div class="col-md-6">
                                @Html.CustomNgTextBoxFor(model => model.ProdTypeCd, null, new { })
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                @Html.CustomNgTextBoxFor(model => model.SerialNo, null, new { })
                            </div>
                            <div class="col-md-6">
                                @Html.CustomNgSelectListFor(model => model.TermSrc, Model.TermSrcs, null, new { @LstName = "TermSrcs" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.CustomNgTextBoxFor(model => model.DeployDate, null, new { @date_time = "", @view = "date", @min_view = "date", @auto_close = "true", @format = "YYYY/MM/DD" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Terminal Status</label>
                                    <div class="input-group">
                                        <input class="form-control" ng-model="_Object.StatusName" type="text" readonly>
                                        @if (Html.SectionIsEnabled("BusnLotTerminalInfoChangeSts"))
                                        {
                                            <span class="input-group-btn">
                                                <button ng-click="modelChangeSts=true;" class="btn btn-success" type="button">
                                                    Change Status
                                                </button>
                                            </span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.CustomNgTextBoxFor(model => model.CreatedDate, null, new { @date_time = "", @view = "date", @min_view = "date", @auto_close = "true", @format = "YYYY/MM/DD", @disabled = "disabled" })
                            </div>
                            <div class="col-md-6">
                                @Html.CustomNgTextBoxFor(model => model.CreatedByName, null, new { @disabled = "disabled" })
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                </div>
                <div class="form-actions right">
                    <a ng-click="backToList();" class="link quick-link">< Back to list</a>
                    <div class="main-content">
                        <button ng-click="backToList();" type="button" class="btn white">Cancel</button>
                        @if (Html.SectionIsEnabled("BusnLotContDSave"))
                        {
                            <button type="button" data-validation-form data-customsubmit="SaveInfo()" class="btn blue">Save</button>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal md-modal fade" role="dialog" app-modal trigger="modelChangeSts" data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" data-toggle="modal">
                <h4 class="modal-title">Change Terminal Status</h4>
                <button ng-click="modelChangeSts=false;" aria-label="Close" class="ngdialog-close"></button>
            </div>
            <div class="modal-body">
                <span id="ErrorResultChangeSts"></span>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>New Terminal Status</label>
                            <select class="form-control" ng-model="_Object.StsNew">
                                <option ng-repeat="item in _Selects.Stses" ng-if="item.Value!=_Object.Sts" value="{{item.Value}}">{{item.Text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Current Account Status</label>
                            @Html.CustomNgSelectListFor(model => model.Sts, Model.Stses, null, new { @emptyWrapper = "", @LstName = "Stses", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.CustomNgSelectListFor(model => model.StsNewReason, Model.StsNewReasons, null, new { @LstName = "StsNewReasons" })
                    </div>
                    <div class="col-md-6">
                        @Html.CustomNgTextAreaFor(model => model.StsNewRemarks)
                    </div>
                </div>
            </div>
            <div class="modal-form-action">
                <button ng-click="modelChangeSts=false;" class="btn btn-default btn-cons">Cancel</button>
                <button type="button" ng-click="SaveSts()" class="btn blue">Save</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal md-modal fade" role="dialog" app-modal trigger="modelShowHistory" data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" data-toggle="modal">
                <h4 class="modal-title">HISTORY OF CHANGE</h4>
                <button ng-click="modelShowHistory=false;" aria-label="Close" class="ngdialog-close"></button>
            </div>
            <div class="modal-body">
                <div class="portlet-body ">
                    <table dtable options="stsHisLst" class="table table-bordered table-striped table-condensed ">
                        <thead class="">
                            <tr>
                                <th>Changed From</th>
                                <th>Changed To</th>
                                <th>Status Change Reason</th>
                                <th>Description</th>
                                <th>Changed On</th>
                                <th>Changed By</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('body').removeClass('layout1menu');
    });
</script>