@using MetroOil.LoyaltyOps.Helpers
@model MetroOil.LoyaltyOps.Models.BusnLocation.TxnPointSearchModel
@{
    var urlPrefix = System.Configuration.ConfigurationManager.AppSettings["urlPrefix"];
}
<div class="page-content">
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@urlPrefix/">Home</a>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                @*<a href="#/{{$root.obj.acctNoHash}}">Account Summary</a>*@
                <span>Business Location Summary</span>
                <i class="fa fa-caret-right"></i>
            </li>
            <li>
                <span>Transactions</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">Transactions</div>
        </div>
        <div class="portlet-body form">
            <form class="horizontal-form form">
                <div class="form-body">
                    <!-- BEGIN BASIC INFORMATION -->
                    <div class="page-bar quick-info">
                        <ul class="page-breadcrumb">
                            <li>
                                <span class="tooltips" data-original-title="Business Name">{{_GeneralInfo.BusnName}}</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Business Location No.">{{_GeneralInfo.BusnLocation}}</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Business Location Status">{{_GeneralInfo.StatusName}}</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Merchant Account No.">{{_GeneralInfo.AcctNo}}</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="tooltips" data-original-title="Last Update Date">{{_GeneralInfo.ModifiedDateStr}}</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END BASIC INFORMATION -->
                    <div>
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active" ng-click="SelectTxnType(@Enums.TXN_UNPOSTED)">
                                    <a data-toggle="tab"> Unposted </a>
                                </li>
                                <li class="" ng-click="SelectTxnType(@Enums.TXN_POSTED)">
                                    <a data-toggle="tab"> Posted </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        @Html.CustomNgTextBoxFor(model => model.TxnId, null, new { @placeholder = "Input a transaction number" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.CustomNgDateRangeFor(model => model.DateFrom, m => m.DateTo, "Transaction Date & Time", null, new { @emptyWrapper = "", @date_time = "", @view = "date", @min_view = "minutes", @auto_close = "true", @format = "YYYY/MM/DD, HH:mm:ss" }, new { @emptyWrapper = "", @date_time = "", @view = "date", @min_view = "minutes", @auto_close = "true", @format = "YYYY/MM/DD, HH:mm:ss" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.CustomNgTextBoxFor(model => model.TermId, null, new { })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.CustomNgTextBoxFor(model => model.AcctNo, null, new { })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.CustomNgTextBoxFor(model => model.CardNo, null, new { })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.CustomNgTextBoxFor(model => model.FullName, null, new { })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-actions-custom">
                                        <button ng-click="OnSearch()" class="btn blue btn-right" type="button">Search</button>
                                    </div>
                                </div>
                                <div class="row tc-top">
                                    <div class="col-md-12">
                                        <table dtable options="txnLst" class="table table-bordered table-striped table-condensed ">
                                            <thead class="">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Txn. No.</th>
                                                    <th>Txn. Category</th>
                                                    <th>Txn. Date & Time</th>
                                                    <th>Txn. Amt. ($)</th>
                                                    <th>Total Points</th>
                                                    <th>Process Date</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tb-pointer"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </form>
        </div>
    </div>
    <!-- END FORM-->
    <!-- END MAIN CONTENT-->
</div>
@*<div class="modal md-modal md-effect-1" data-keyboard="true" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" tabindex="-1" app-modal trigger="modelTxnDetails" aria-hidden="true">*@
<div class="modal md-modal fade" role="dialog" app-modal trigger="modelTxnDetails" data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" data-toggle="modal">
                <h4 class="modal-title">TRANSACTION DETAILS</h4>
                <button ng-click="modelTxnDetails=false;" aria-label="Close" class="ngdialog-close"></button>
            </div>
            <div class="modal-body">
                <!-- BEGIN BASIC INFORMATION -->
                <div class="page-bar quick-info">
                    <ul class="page-breadcrumb">
                        <li>
                            <span class="tooltips" data-original-title="Business Name">{{_GeneralInfo.BusnName}}</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Business Location No.">{{_GeneralInfo.BusnLocation}}</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Business Location Status">{{_GeneralInfo.StatusName}}</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Merchant Account No.">{{_GeneralInfo.AcctNo}}</span>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="tooltips" data-original-title="Last Update Date">{{_GeneralInfo.ModifiedDateStr}}</span>
                        </li>
                    </ul>
                </div>
                <!-- END BASIC INFORMATION -->
                <div class="portlet-body ">
                    <div class="row form-group">
                        <div class="col-md-3"><label>Txn. No.</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.TxnNo}}</span></div>
                        <div class="col-md-3"><label>Terminal No./ Pump Attendant ID</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.TermId}}</span></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"><label>Txn. Category</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.TxnCategoryName}}</span></div>
                        <div class="col-md-3"><label>Retrieval Ref. No. (RRN)</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.RefNo}}</span></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"><label>Txn. Date &amp; Time</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.TxnDate}}</span></div>
                        <div class="col-md-3"><label>Member Account No.</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.AcctNo}}</span></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"><label>Process Date</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.PrcsDate}}</span></div>
                        <div class="col-md-3"><label>Card No.</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.CardNo}}</span></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"><label>Txn. Amt. ($)</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.TxnAmount | number : 2}}</span></div>
                        <div class="col-md-3"><label>Name on Card</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.EmbName}}</span></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"><label>Total Points</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.TxnPoints | number : 2}}</span></div>
                        @*<div class="col-md-3"><label>Order No.</label></div>
                        <div class="col-md-3"><span class="txt-bold">{{_TxnDetail.ExtOrderNo}}</span></div>*@
                    </div>
                    <div class="txn-item">
                        <p>Transaction Item</p>
                        <table dtable options="txnProductLst" class="table table-bordered table-striped table-condensed ">
                            <thead class="">
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Product Type</th>
                                    <th>Product Quantity</th>
                                    <th>Product Amt. ($)</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/ng/services/httpInterceptors.js"></script>
<script type="text/javascript">
    $(function () {
        $('body').removeClass('layout1menu');
    });
</script>